<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developer.edu.app_arco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        tools:ignore="UnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.ComentarioActivity"></activity>
        <activity android:name=".act.ArcosCompartilhadosActivity" />
        <activity
            android:name=".act.Splashscreen"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.EtapaActivity" />
        <activity android:name=".act.EditarEscolaridadeActivity" />
        <activity android:name=".act.LoginActivity" />
        <activity android:name=".act.PreCadastroActivity" />
        <activity android:name=".act.CadastroActivity" />
        <activity android:name=".act.MenuActivity" />
        <activity android:name=".act.PremioActivity" />
        <activity android:name=".act.PerfilActivity" />
        <activity android:name=".act.ArcoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".act.RecuperarSenhaActivity" />
        <activity android:name=".act.EditarPerfilActivity" />
    </application>

</manifest>